<!DOCTYPE html>
<html>
<head>
  <title>Flask-SSE Quickstart</title>
</head>
<body>
  <h1>Flask-SSE Quickstart</h1>
  <section class="make-center">
    <input type="text" id="room-id" value="abcdef" autocorrect=off autocapitalize=off size=20>
    <button id="open-room">Open Room</button><button id="join-room">Join Room</button><button id="open-or-join-room">Auto Open Or Join Room</button>

    <br><br>
    <input type="text" id="input-text-chat" placeholder="Enter Text Chat" disabled>
    <button id="share-file" disabled>Share File</button>
    <br><br>
    <button id="btn-leave-room" disabled>Leave/or close the room</button>

    <div id="room-urls" style="text-align: center;display: none;background: #F1EDED;margin: 15px -10px;border: 1px solid rgb(189, 189, 189);border-left: 0;border-right: 0;"></div>

    <div id="chat-container">
        <div id="file-container"></div>
        <div class="chat-output"></div>
    </div>
    <div id="videos-container"></div>
  </section>
  <ul>

   </ul>


   <video id="localVideo" autoplay muted style="width:40%;"></video>
        <video id="remoteVideo" autoplay style="width:40%;"></video>

        <br />

        <input type="button" id="start" onclick="start(true)" value="Start Video"></input>

        <script type="text/javascript">
            pageReady();
        </script>
  <script>
      document.getElementById('open-room').onclick = function() {
    disableInputButtons();
    connection.open( document.getElementById('room-id').value , function() {
        showRoomURL(connection.sessionid);
		xhr
		(
			'start-broadcast.php' ,
			function( responseText ){ console.log( 'Broadcast started [' + document.getElementById('room-id').value + ']' ) },
			JSON.stringify( { name: document.getElementById('room-id').value } )
		);
    });
};

  </script>

  <script>
    var source = new EventSource("{{ url_for('sse.stream') }}");
{#    var signalingChannel = new SignalingChannel();#}
{#    var pc = new RTCPeerConnection({});#}
{#    navigator.getUserMedia({ "audio": true }, gotStream, logError);#}
{#        function gotStream(stream) {#}
{#      pc.addStream(stream);#}
{##}
{#      pc.createOffer(function(offer) {#}
{#        pc.setLocalDescription(offer);#}
{#        signalingChannel.send(offer.sdp);#}
{#      });#}
{#    }#}
{#    function logError() {#}
{##}
{#    }#}




    var eventList = document.querySelector('ul');

    source.addEventListener('greeting', function(event) {
        var data = JSON.parse(event.data);
        var newElement = document.createElement("li");
        newElement.textContent = "message: " + data.message;
        eventList.appendChild(newElement)
{#        alert("The server says " + data.message);#}
    }, false);

    source.addEventListener('error', function(event) {
        alert("Failed to connect to event stream. Is Redis running?");
    }, false);
  </script>
</body>
</html>