<!DOCTYPE html>
<html>
    <head>
        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
{#        <script type="text/javascript" src="webrtc.js"></script>#}
{#        <script type="text/javascript" src="/js/new.js"></script>#}
        <script type="text/javascript" src="/js/webrtc.js"></script>
    </head>

    <body>
        <video id="localVideo" autoplay  style="width:40%;"></video>
        <video id="remoteVideo" autoplay style="width:40%;"></video>
        <script>

{#        localVideo = document.getElementById('localVideo');#}
{#        remoteVideo = document.getElementById('remoteVideo');#}
{##}
{#        var constraints = {#}
{#            video: true,#}
{#            audio: true,#}
{#        };#}
{#        navigator.getUserMedia(constraints, gotStream, logError);#}
{##}
{#          function gotStream(stream) {#}
{#            var video = document.querySelector('video');#}
{#            video.src = window.URL.createObjectURL(stream);#}
{#          }#}
{##}
{#          function logError(error) { }#}


        </script>
        <br />

        <input type="button" id="start" onclick="start(true)" value="Start Video"></input>
         <br/>
        <input type="text" id="room-id" autocorrect=off autocapitalize=off size=20>
        <button id="open-room" >Open Room</button>
        <br/>
        <ul>

        </ul>
        <script>
            var chat_room_id;
            var eventList = document.querySelector('ul');
        document.getElementById('open-room').onclick = function() {


            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
              if(this.readyState == 4 && this.status == 200){

                  var newElement = document.createElement("li");
                  newElement.textContent = "message: " + this.responseText;
                  eventList.appendChild(newElement);

              }
            };
            var userName = document.getElementById('room-id').value;
            chat_room_id = userName;
            var data = new FormData();
            data.append('id', userName);


            xhr.open("POST","/xhr",true);
            xhr.send(data);
        };


            var source = new EventSource("{{ url_for('sse.stream') }}");
            source.addEventListener('greeting', function(event) {
                var data = JSON.parse(event.data);
                if (data.room_id == chat_room_id){
{#                    alert("The server says " + data.message);#}
                    var newElement = document.createElement("li");
                  newElement.textContent = "message: " + "one calling you";
                  eventList.appendChild(newElement);
                }


            }, false);

            source.addEventListener('error', function(event) {
                alert("Failed to connect to event stream. Is Redis running?");
            }, false);

        </script>


        <script type="text/javascript">
            pageReady();
        </script>
    </body>
</html>